body {
    background-color: #151525;
    background-image: url("../images/bg_img_second.svg");
    background-repeat: no-repeat;
    background-position-x: right;
}

/* heade */


.header {
    margin-bottom: 200px;
}

.header_nav {
    align-items: center;
}


/* maun */
.title_block_second_page {
    max-width: 470px;

}

.second_page_title {
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0.2800000011920929px;
    color: #fff;
    margin-bottom: 30px;
}

.title_buttons_block {
    margin-bottom: 200px;
}

.sub_title_block_title {
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.18000000715255737px;
    color: #fff;
}

.sub_title_block_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.39392149448394775px;
    color: #fff;
}

.promo_inner_block_card {
    width: 33.33%;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    border: 1px solid #56567B;
}

.promo_inner_block_card:hover {
    background-color: #1F1F3D;

}

.promo_inner_block_card:hover .display_block {
    display: block;
}

.promo_inner_block_title {
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    letter-spacing: 0.2800000011920929px;
    color: #fff;
}

.promo_card_title {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.11999999731779099px;
}


.promo_card_text {

    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.3376469910144806px;
    color: #fff;

}

.display_block {
    display: none;
}

.inner_block_fourth {
    margin-bottom: 90px;
}

@media screen and (max-width:1200px) {
    .short_container {
        max-width: 95%;
    }
}

@media screen and (max-width:810px) {
    .short_container {
        max-width: 90%;
    }

    .promo_inner_block_title {
        font-size: 58px;
    }

    .scroll {
        overflow-x: scroll;
    }

    .scroll::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .promo_inner_block_card {
        min-width: 300px;
    }
}

@media screen and (max-width:700px) {
    .promo_inner_block_title {
        font-size: 41px;
    }

    .short_container {
        max-width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .sub_title_block_title {
        font-size: 37px;
    }

    .title_button_media {
        display: none;
    }
}

/* header */
@media screen and (max-width: 1200px) {
    body {
        background-position: top 0 left 0;
    }

    .header {
        margin-bottom: 180px;
    }

    .container {
        max-width: 950px;
    }

    .logo {
        margin-right: 5%;
    }

    .header_right_row {
        max-width: 64vw;
        margin-right: 5%;
    }

    .header_left_row,
    .header_right_row {
        max-width: 35vw;
    }

    .header_nav_text {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1100px) {
    .logo_img {
        width: 86px;
    }

    .container {
        max-width: 85%;
    }

    .header_nav {
        max-width: 383px;
    }

    .header_nav_text {
        font-size: 19px;

    }

}

@media screen and (max-width: 950px) {
    body {
        background-position: top 0 right 0;
    }

    .container {
        max-width: 92%;
    }

    .header_right_row {
        margin-right: 3%;
    }

    .logo_img {
        width: 74px;
    }

    .contacts_link_icons {
        margin: 0 9px;
    }
}

@media screen and (max-width: 900px) {
    .header_nav {
        max-width: 360px;
    }

    .header_right_row {
        max-width: 37vw;
    }

}

@media screen and (max-width: 840px) {
    .header_nav {
        max-width: 333px;
    }

    .header_right_row {
        margin-right: 6%;
    }



}

@media screen and (max-width: 800px) {
    .main_title {
        font-size: 50px;
    }

    .header_nav {
        justify-content: space-between;
        max-width: 315px;
    }

    .header_nav_text {
        font-size: 18px;
    }

    .contacts_link_icons {
        background-size: auto 20px;
    }

    .header_phone {
        background-size: 150px;
    }

    .header_phone {
        width: 158px;
    }

    .logo_img {
        width: 76px;
    }

}

@media screen and (max-width: 756px) {

    .header_nav_text {
        font-size: 17px;
    }

    .header_nav {
        max-width: 299px;
    }

    .logo_img {
        width: 68px;
    }

    .header_right_row {
        margin-right: 4%;
    }

    .header_nav {
        max-width: 279px;
    }

    .header_right_row {
        max-width: 42vw;
    }
}

@media screen and (max-width: 700px) {

      /* header dropdown */
      .dropdown-btn-header {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    /* header dropdown media */
    .menu-btn-header {
        width: 29px;
        height: 29px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        display: block;
    }


    .menu-btn-header span {
        padding: 6%;
        margin-top: 14%;
        width: 18px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #0B74CD;
        transition: all 0.5s;
        border: 0;
        border-radius: 2px;
    }

    .menu-btn-header span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn-header span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu-header {
        display: none;
        margin-top: -50px;
        margin-inline: auto;
    }

    .menu-header.active {
        display: block;
        position: absolute;
        top: 6%;
        left: 0;
        width: 100%;
        height: 64%;
        text-align: start;
        padding-bottom: 10px;
        background-color: #151525;
    }

    .header_links_container {
        margin-top: 20%;
        margin-left: 11%;
    } 

    .header_menu_link {
        line-height: 25px;
    }

    .menu-header li {
        list-style-type: none;
    }

    .menu-btn-header.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn-header.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn-header.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .header_nav {
        display: none;
    }

    .display_none {
        display: none;
    }

    .media_header {
        width: 80%;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .header_phone {
        width: 227px;
        height: 28px;
    }

    .header_phone {
        background-size: 99%;
    }

    .logo_img {
        width: 323%;
    }

}



@media screen and (max-width: 650px) {

    .header_left_row,
    .header_right_row {
        flex-direction: column;
    }

}


@media screen and (max-width: 450px) {
    body {
        background-position: top 0 right 30%;
        background-size: auto;
    }

    .header {
        margin-bottom: 10px;
    } 

    .title_block {
        margin-bottom: 181px;
    }   


    .container {
        max-width: 90vw;
    }

    .header_nav {
        margin-bottom: 30px;
    }

    .logo_img {
        width: 323%;
    }

    .main_title {
        font-size: 40px;
    }

    .header_br {
        display: block;
    }

    .title_block {
        margin-bottom: 200px;
    }

    .main_title {
        line-height: inherit;
        margin-bottom: 45px;
    }

    .title_button {
        padding-inline: 40px;
    }

    .media_none_btn {
        display: none;
    }

    .partners_block_title {
        margin-bottom: 20px;
    }

    .header_phone {

        width: 192px;
        height: 25px;

    }

}


