.header {
    padding: 44px 0;
    margin-bottom: 18px;
}

/* .contacts_link_icons {
    width: 111px;

} */


.flex_colum {
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-between;
}

.nav_item_description {
    width: 500px;
}

.nav_item_block {
    margin-bottom: 40px;
}

.nav_item {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.09600000083446503px;
    color: #A5A5A5;
    padding-bottom: 10px;
}

.nav_item:hover {
    color: black;
    border-bottom: 5px solid #1C1C3C;
}

/* main */
.blocks_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block_card_item {
    margin-bottom: 50px;
}

.block_card_item_img {
    display: block;
    width: 100%;
    min-height: 344px;
    background-color: #E6E6E6;
}

.block_card_item_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.09600000083446503px;
    color: black;
}

.block_card_item_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06400000303983688px;
    color: black;
}

/* instagram */
.instagram_blocks {
    margin-bottom: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inst {
    min-height: 540px;
    margin-bottom: 100px;
}

.block_card_item_title {
    margin-top: -10px;
}





/* переключение */
.content_item {
    display: none;
}

.content_item_active {
    display: block;
}

/* media */


@media screen and (max-width: 1140px) {
    .short_container {
        width: 95%;
    }

}

@media screen and (max-width: 1036px) {

    .instagram_width {
        width: 43%;
    }
}

@media screen and (max-width: 960px) {
    .short_container {
        width: 90%;
    }

    .blocks_cards {
        justify-content: space-evenly;
    }


    .nav_item_description {
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 1022px) {
    .instagram_blocks {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 680px) {
    .nav_item_block {
        align-items: flex-start;
    }

    .block_card_item {
        margin: 30px auto;
    }

    .short_container {
        width: 92%;
    }

    .nav_item_block {
        margin: 0;
    }

}

@media screen and (max-width: 452px) {
    .nav_item {
        font-size: 20px;
    }

}