body {

    font-family: Helvetica, sans-serif
}
.flex_row {
    display: flex;
    justify-content: space-between;
}

/* containers */
.container {
    max-width: 1770px;
    margin: 0 auto;
}

.short_container {
    max-width: 1075px;
    margin: 0 auto;
}

/* header */
.header {
    padding: 20px 0;
    align-items: center;
    align-self: center;
}

.header_nav {
    align-items: center;

}

.header_left_row {
    width: 400px;
}

.header_right_row {
    width: 400px;
    display: flex;
    align-items: center;
}

.header_nav_text {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.09600000083446503px;
    cursor: pointer;
    transition: 0.3s;
}
.header_nav_text:hover {
    color: antiquewhite;
}
.header_nav_text:active {
    color: lightgray;
}

.contacts_link_icons {
    display: inline-block;
    width: 21px;
    height: auto;
}

.instagram_icon {
    background: url("../images/logos/instagram_logo.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
}

.facebook_icon {
    background: url("../images/logos/facebook_logo.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
}

.header_phone {
    background: url("../images/logos/phone_logo.svg");
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 21px;
    width: 100px;
}

/* buttons */
.title_button {
    padding: 14px;
    width: 142px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.4501959979534149px;
    border: 0;
    border-radius: 10px;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.5;
}

.light_btn {
    background-color: #3D46A8;
}