body {

    font-family: Helvetica, sans-serif
}
.flex_row {
    display: flex;
    justify-content: space-between;
}

/* containers */
.container {
    max-width: 1770px;
    margin: 0 auto;
}

.short_container {
    max-width: 1075px;
    margin: 0 auto;
}

.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20vh;
}

.header_nav {
    align-items: center;
    width: 459px;

}

.logo {
    display: block;
    width: 100px;
    margin-right: 100px;
}

.media_header {
    display: none;
}

/*  */

.logo_img {
    display: block;
    width: 100px;
    margin-right: 30px;
}

.header_right_row {
    margin-right: 3%;
    width: 500px;
    justify-content: space-evenly;
}
.header_nav_text {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.09600000083446503px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}
.header_nav_text:hover {
    color: antiquewhite;
}
.header_nav_text:active {
    color: lightgray;
}

.contacts_link_icons {
    display: inline-block;
    width: 21px;
    height: auto;
    margin: 0 15px;
}

.instagram_icon {
    background: url("../images/logos/instagram_logo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 21px;
    height: 21px;
    padding: 0 2%;
    background-position: top 50% left;
}

.facebook_icon {
    background: url("../images/logos/facebook_logo.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 54%;
    width: 21px;
    height: 21px;
    padding: 0 2%;
}

.header_phone {
    background: url("../images/logos/phone_logo.svg");
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
    width: 21px;
    height: 27px;
    width: 199px;
    padding: 0 2%;  
}

.header_phone_black {
    background: url("../images/logos/black_phone.svg");
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
    width: 21px;
    height: 27px;
    width: 199px;
    padding: 0 2%;  
}

/* buttons */
.title_button {
    padding: 14px;
    width: 142px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.4501959979534149px;
    border: 0;
    border-radius: 10px;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    opacity: 0.5;
}

.light_btn {
    background-color: #3D46A8;
}


/* footer */
.footer {
    padding-block: 10px 30px;
}
.copyright {
    color: #fff;
}
.black {
    color: #000;
}

.color_black {
    color: black;
}
