
.backdrop {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 500;
}

.modal {
    z-index: 1000;
}
.modal_block {
    background: #1C1C3C;
    opacity: 1;
}





.modal {
    display: block;
}
.modal_title_media {
    display: none;
}




    /* MEDIA */



.modal_title_media {
    display: none;
}