.modal {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_block {
    background: #1C1C3C;
    opacity: 1;
}






.modal_title_media {
    display: none;
}




    /* MEDIA */

.modal_title_media {
    display: none;
}