.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    min-width: 0;
    position: relative;
}

.slick-list {
    overflow: hidden;
    padding: 0 60px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 400px;
    height: 120px;
    margin: -30px 0 0 0 ;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    opacity: 0;
}

.slider .slick-arrow.slick-next {
    opacity: 0;
    right: 0;
}

.slider__item  {
    border: 1px solid #312E4D;
    padding: 15px;
    width: 130px;
    height: 100px;
    text-align: center;
    align-items: center;
}



.slick-slide {

}

.img_slaider {
    width: 100%;
    height: 100%;
}


@media screen  and (max-width: 500px){

    
}